# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore files with secrets
config/secrets.yml

# Ignore OS X index
.DS_Store

# Ignore Sublime workspace file
*.sublime-workspace
