
<%= render partial: "shared/article", object: @article %>

<hr />

<div class="row">
  <h2>Change history</h2>
  <%= render partial: "shared/audits", object: @article.audits %>
</div>

<div class="row">
  <%= link_to 'Edit', edit_admin_blog_article_path(@article) %> |
  <%= link_to 'Back', admin_blog_articles_path %>
</div>
