%div.row
  %div.large-12.columns
    %div.panel
      %h4 Get in touch!
      %div.row
        %div.large-9.columns
          %p We'd love to hear from you, you attractive person you.
        %div.large-3.columns
          = link_to "Contact", cms_show_page_path("contact"), class: "radius button right"
