= render partial: "shared/article", object: @article

%hr

%div.row
  %h2 Change history
  = render partial: "shared/audits", object: @article.audits

%div.row= link_to 'Edit', edit_admin_blog_article_path(@article)
