
%div.row
  = link_to edit_admin_blog_article_path(@article), class: 'button' do
    %i.fi-page-edit
    Edit

%div.row
  = render partial: "shared/article", object: @article

%hr

%div.row
  %h2 Change history
  = render partial: "shared/audits", object: @article.audits

