<header>
  <div class="row">
    <div class="large-12 column">
      <img src="http://placehold.it/1500x400&amp;text=[mind body wellness whole]">
    </div>
  </div>
</header>

<br />

<div class="row">
  <div class="small-3 columns">
    <%= image_tag "movement.jpg", height: "300px" %>
    <h4>Movement</h4>
    <p>Skills, mobility, variations, progressions, combinations</p>
  </div>
  <div class="small-3 columns">
    <%= image_tag "nourishment.jpg", height: "300px" %>
    <h4>Nourishment</h4>
    <p>Food, recipes, recovery, vitamins, minerals, toxicity, growing food.</p>
  </div>
  <div class="small-3 columns">
    <%= image_tag "development.jpg", height: "300px" %>
    <h4>Development</h4>
    <p>Jedi mind tricks, goal-setting, hypnotherapy, visualisation, spiritual practice.</p>
  </div>
  <div class="small-3 columns">
    <%= image_tag "excitement.jpg", height: "300px" %>
    <h4>Excitement</h4>
    <p>Travel, workshops, internships</p>
  </div>
</div>

<hr />

<div class="row">
  <div class="large-9 columns" role="content">
    <article>
      <h3><a href="#">Blog Post Title</a></h3>
      <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>
      <div class="row">
        <div class="large-6 columns">
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
          <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
        </div>
        <div class="large-6 columns">
        <img src="http://placehold.it/400x240&amp;text=[img]"/>
        </div>
      </div>
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
    </article>

    <hr/>

    <article>
    <h3><a href="#">Blog Post Title</a></h3>
    <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>
    <div class="row">
    <div class="large-6 columns">
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
    <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
    </div>
    <div class="large-6 columns">
    <img src="http://placehold.it/400x240&text=[img]"/>
    </div>
    </div>
    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
    </article>
  </div>

  <aside class="large-3 columns">
    <h5>Categories</h5>
    <ul class="side-nav">
      <li><a href="#">About Shalika</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="panel">
      <h5>Featured</h5>
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
      <a href="#">Read More &rarr;</a>
    </div>
  </aside>

</div>

<hr />

<div class="row">
  <div class="testimonial-wrap">
    <div class="row">
      <div class="small-1 large-1 columns testimonial">
        <div class="quote-marks">&#8220;</div>
      </div>
      <div class="small-11 large-11 columns testimonial">
        <div class="quote">
          <p>Shalika made all my dreams come true and lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.</p>
        </div>
        <div class="student">
          <div class="photo"> </div>
          <p>John Doe</p>
          <p>Important person, some Company</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4>Get in touch!</h4>
      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you, you attractive person you.</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="row full-width">
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-torsos"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
    </div>
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-share"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4>Work With Me</h4>
      <ul class="footer-links">
        <li><a href="#">What I Do</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Blog</a></li>
      <ul>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4>Follow Me</h4>
      <ul class="footer-links">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
      <ul>
    </div>
  </div>
</footer>
