<div class="row">
  <ul class="button-group">
    <li><%= link_to "Blog", admin_blog_articles_path, class: "button" %></li>
    <li><%= link_to "Site Pages", admin_cms_pages_path, class: "button" %></li>
  </ul>
</div>
