<% @articles.each do |article| %>
  <div class="row article">
    <div class="large-9 columns" role="content">
      <article>
        <h3><%= link_to article.title, blog_article_path(article) %></h3>
        <h6><%= l article.published_at, format: :medium %></h6>
        <div class="row">
          <div class="large-6 columns">
            <%= markdown article.content %>
          </div>
        </div>
      </article>
    </div>
  </div>
<% end %>
