<div class="contain-to-grid top-bar-border animated" id="top-bar-container">
  <nav class="top-bar" role="navigation" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Upstream Wholeness", root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right button-group">
        <li><a href="">About Shalika</a></li>
        <li><a href="">Services</a></li>
        <li class="has-form"><a href="" class="button">Contact</a></li>
      </ul>
    </section>
  </nav>
</div>
